# Ignore all files
**

# Checkpoints
!src/checkpoints/segmentation/*.onnx
!src/checkpoints/detection/*.onnx

# Bot
!src/model
!src/__init__.py
!src/bot.py
!src/utils.py

# Install files
!src/images/bus.jpg
!requirements.txt

**/__pycache__
