# cache and env
.idea
/.ipynb_checkpoints/
__pycache__/
/yolo_bot_env/
*.ipynb
*.py[cod]

/.*
!.gitignore
!.dockerignore
*.txt
!requirements.txt

# checkpoints
*.onnx
!checkpoints/segmentation/*.onnx
!checkpoints/detection/*.onnx

# example images
*.jpg
*.png
!images/bus.jpg
!images/zidane.jpg
